.profile {
  display: flex;
  align-items: center;
  padding: 15px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #26414a, rgba(0, 0, 0, 0)) 20;
  border-top: none;

  &__avatar {
    flex: 1;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__user-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;
  }

  &__name {
    margin: 0;
    color: #f0f9ff;
    font-size: 20px;
  }

  &__status {
    margin: 8px 0 0 0;
    color: #26414a;
    font-size: 16px;
  }

  &__button {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    height: 24px;
    width: 24px;
    max-width: 24px;
    cursor: pointer;
  }

  &__button-icon {
    fill: #26414a;
    height: 24px;
    width: 24px;

    &:hover {
      fill: #35525b;
    }

    &:active {
      fill: #304b54;
    }
  }
}
