.msg-sections-item {


  &__button {
    width: 100%;
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 5px 0;

    &:hover > * {
      color: #90a4ae;
      fill: #35525b;
    }
    &:active {
      background-color: #117fa4;
    }

    &:active > * {
      color: white;
      fill: #87c7d0;
    }
  }

  &__icon {
    height: 16px;
    width: 16px;
    fill: #26414a;
  }

  &__title {
    margin: 0 0 0 10px;
    color: #6a7c86;
    font-size: 16px;
    font-weight: 700;
  }
}