.execution-status {
  flex: 1;
  height: 100%;
  max-width: 80px;
  min-width: 80px;

  &__id {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    color: white;
    background-color: #20c3fe;
    border-radius: 5px 5px 0 0;

    &:after {
      content: "";
      position: absolute;
      top: 23px;
      left: 15px;
      height: 0;
      width: 0;
      z-index: 1;
      border-top: 10px solid #20c3fe;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }

  &__past-time-container {
    margin: 1px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 67px;
    width: 100%;
    padding: 5px;
    background-color: #f3f3f3;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;

    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 15px;
      height: 0;
      width: 0;
      z-index: 0;
      border-top: 10px solid #ffffff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }

  &__past-time {
    margin: 0;
    color: #adadad;
  }
}
